host, swdist.apple.com, SystemOTA
host, swscan.apple.com, SystemOTA
host, mesu.apple.com, SystemOTA
host, gdmf.apple.com, SystemOTA
host, xp.apple.com, SystemOTA
host-suffix, misakaf.org, Emby
host-suffix, jmsuper.com, Emby
