hostname = www.google.cn,app-api.smzdm.com

^https?:\/\/(www.)?(g|google)\.cn url 302 https://www.google.com
^https?:\/\/app-api\.smzdm\.com\/util\/loading url script-response-body https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/script/smzdm/smzdm_remove_ads.js
